body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.drop {
    border-radius: 4px;
    padding: 4px;
    min-height: 64px;
    text-align: left;
    background-color: #FFF;
    display: table;
    width: 100%;
}

.menu {
    padding: 32px;
    text-align: center;
}

.well {
    padding: 16px 32px;
}

.label {
    display: inline-block;
    cursor: pointer;
    padding: 3px 4px;
    margin: 3px 2px;
    font-weight: normal;
    font-size: 10px;
}

.row {
    padding-bottom: 8px;
}

.tablecol {
    overflow:auto;
    padding: 32px;
}

.wrap {
    display: table-cell;
    vertical-align: middle;
    text-align:center
}

.dotted {
    padding: 5px;
    border: 1px dashed #DDD;
    font-size: 8px;
}