<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="{{ "/js/jquery.parse.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/pivot.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gchart_renderers.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var initData = "{{ "/data/potus.csv" | prepend: site.baseurl }}";
  var mapRegion = "World";
  $('body').css('background-image', 'url("{{ config.background }}")');
  //var backgroundVar = "{{ config.background }}";
</script>
<script src="{{ "/js/dripl.js" | prepend: site.baseurl }}"></script>