<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/pivot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/gchart_renderers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.3/js/bootstrap-tour.min.js"></script>

<script id="label-template" type="text/x-handlebars-template">
{% raw %}
	<button type="button" id="label-{{ i }}" data-value="{{ field }}"
	class="btn btn-xs label {{ label }}" ondragstart="drag(event)" draggable="true" {{#if filter}}onclick="showPopover(this);"{{/if}}>{{ field }}</button>
{% endraw %}
</script>

<script id="popover-template" type="text/x-handlebars-template">
{% raw %}
<div class="popover-content">
  <ul class="list-unstyled">
    {{#each classifiers }}
    <li><input type="checkbox" name="{{ ../field }}" value="{{ value }}" {{selected}} {{#if selected}}checked{{/if}} onclick="updateFilter(this);">&nbsp;{{ value }}</li>
    {{/each}}
  </ul>
</div>
{% endraw %}
</script>


<script type="text/javascript">
  var initData = "{{ "/data/potus.csv" | prepend: site.baseurl }}";
  var mapRegion = "World";
  var dateCols = $.map("{{ site.date_columns }}".split(','), $.trim);
</script>
<script src="{{ "/js/dripl.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');
</script>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>